header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.723);
    color: #fff;
    padding: 5px;
    z-index: 100;
    transition: background-color 0.3s;
    height: 100px;
    width: auto;
}

h1 {
    font-size: 30px;
    padding: 15px;
}

h2 {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 20px;
    padding: 7px;
    text-align: center;
}

body {
    background-color: rgb(218, 218, 218);
    color: black;
    padding: 0%;
    margin: 0%;
    padding-top: 10px;
    position: relative;
}

address{
    text-align: center;
}

#espaco {
    height: 130px;
}

#espaco2 {
    height: 150px;
}

.agradecimento-container {
    text-align: center;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 20px;
    margin: 20px auto; 
    max-width: 70%; 
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.723);
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.cabecalho ul li:hover {
    background-color: rgba(255, 255, 255, 0.486);
    transition: .2s;
    border-radius: 20px;
    padding: 5px;
    margin: 1px;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    min-height: calc(100vh - (2 * 10px));
    position: relative;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    width: 100%;
}

.comissao-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.comissao-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.comissao-member {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px;
}

.member-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

.member-image:hover {
    opacity: 0.8;
}

.comissao-member h3 {
    font-size: 18px;
    margin: 10px 0;
}

.member-instituicao {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

.local-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.local-photos img {
    max-width: 450px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
    
.local-info{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

aside {
    padding: 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

aside h4 {
    border-bottom: 2px solid rgb(0, 34, 128);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

h4 {
    border-bottom: 2px solid rgb(0, 34, 128);
    font-size: 20px;
}

aside ul {
    list-style-type: disc;
    padding-left: 10px;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: black;
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
    color: rgb(0, 34, 128);

}

#equipe {
    background-image: linear-gradient(rgba(205, 205, 205, 0.808), rgba(205, 205, 205, 0.808)), url(imgs/equpe.jpg);
    background-position: center top -60px;
    background-size: cover;
    position: relative;
    color: var(--text-color);
    overflow: hidden;
    padding: 20px;
    margin-bottom: 75px;
}

#boas-vindas {
    background-image: linear-gradient(rgba(205, 205, 205, 0.808), rgba(205, 205, 205, 0.808)), url(imgs/rvimg.jpg);
    background-position: center top -140px;
    background-size: cover;
    position: relative;
    color: var(--text-color);
    overflow: hidden;
}

.inscricao-form {
    background-color: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #005daa;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 20px;
}

#form1{
    margin-bottom: 100px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}

.programacao {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 50px;
}

.programacao h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #0074cc;
    color: #fff;
    text-align: left;
    padding: 15px;
    border: 1px solid #ccc;
}

td {
    padding: 15px;
    border: 1px solid #ccc;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

nav a.active {
    background-color: #0074cc;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px; 
    height: auto; 
}

@media screen and (max-width: 768px) {
    header {
        padding: 5px;
        height: 150px;
    }

    h2 {
        font-size: 20px;
        padding: 10px;
    }

    h3 {
        font-size: 18px;
        padding: 10px;
    }

    p {
        font-size: 14px;
        padding: 5px;
    }

    .menu-vertical {
        display: block;
        text-align: right;
    }

    .menu-vertical li {
        width: 100%;
    }

    #espaco {
        height: 180px;
    }

    #espaco2 {
        height: 200px;
    }

    nav ul {
        list-style-type: none;
    }

    nav li {
        display: block;
        margin-right: 10px;
        margin-left: 10px;
        text-align: left;
        margin-top: 10px
    }

    nav a {
        text-decoration: none;
        color: #fff;
    }

    #equipe {
        background-image: linear-gradient(rgba(205, 205, 205, 0.808), rgba(205, 205, 205, 0.808)), url(imgs/equpe.jpg);
        background-position: center;
        background-size: 170%;
        position: relative;
        color: var(--text-color);
        overflow: hidden;
        padding: 20px;
    }

    #boas-vindas {
        background-image: linear-gradient(rgba(205, 205, 205, 0.808), rgba(205, 205, 205, 0.808)), url(imgs/rvimg.jpg);
        background-position: center;
        background-size: 185%;
        position: relative;
        color: var(--text-color);
        overflow: hidden;
    }

    .local-photos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .local-photos img {
        max-width: calc(90% - 10px);
        height: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    #map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 80px 15px; 
        width: 90%; 
        height: auto; 
    }
}
